@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>WELCOME</h1>
    <h2 class="display-4">Expense Management System</h2>
    <br/>
    <p>Record,Manage and Track Your Expenses</p>
</div>
